*{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body{
  padding-top: 70px;
    background: #45709d12;
    background: linear-gradient(to right, #4a80c700, #a6cfeb37);
}


/* Navbar */
#navbar, #quick-bar {
  transition: all 0.5s;
  z-index: 9999;
}

#navbar .nav-link {
  font-size: large;
  font-weight: 600;
  padding: 16px 24px;
  transition: all 0.5s;
}

#navbar .nav-link:hover {
  color:#cc1818;
}

@media screen and (min-width: 992px) {
  #navbar {
      margin: 40px 100px 0px;    
  }
  #navbar.scrolled {
      margin: 0px;    
  }
}

/*Header*/
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}


header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


 header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}


/*Gallery*/

.jumbotron	{
	color: #2c3e50;
	background: #ecf0f1;
}

.thumbnail img {
    object-fit: cover;
    height: 400px;
    width: 100%;
}

.section1 .shtext {
	display: block;
	margin-top: 10px;
}
.section1 .seperator {
	border-bottom:4px solid #cc1818;
	width: 70px;
	display: inline-block;
	margin: 10px;
}

/*Footer*/
.footer {
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  background-size: cover;
}

.first {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
}

  .first h4 {
      font-size: 20px;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 20px;
      font-size: 1.6em;
      color: #fff;
      padding-bottom: 0.5em;
  }

      .first h4::after {
          content: '';
          background: #cc1818;
          width: 20%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
      }

  .first p {
      font-size: 14px;
  }

.second {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second2 {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #fff;
  padding-bottom: 0.5em;
}

  .second h4::after {
      content: '';
      background: #cc1818;
      width: 20%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 40%;
  }

.second li {
  list-style: none;
  padding-bottom: 30px;
}

.second a, .second2 a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}

  .second a:hover, .second2 a:hover {
      color: #fff;
      transition: 0.2s;
      text-shadow: 1px 1px 20px rgba(0,0,0,1);
      text-decoration: none
  }

.third {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: right;
}

  .third h4 {
      font-size: 20px;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 20px;
      font-size: 1.6em;
      color: #fff;
      padding-bottom: 0.5em;
  }

      .third h4::after {
          content: '';
          background: #cc1818;
          width: 20%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 80%;
      }

  .third li {
      list-style: none;
      padding-bottom: 15px;
  }

  .third a {
      color: rgb(206, 206, 206);
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 14px;
      transition: 0.2s;
  }

      .third a:hover {
          color: #fff;
          transition: 0.2s;
          text-shadow: 1px 1px 20px rgba(0,0,0,1);
      }


@media screen and (max-width:1000px) {
  .first {
      text-align: center;
  }

      .first h4::after {
          left: 40%;
      }
}

@media screen and (max-width:1000px) {
  .third {
      text-align: center;
  }

      .third h4::after {
          left: 40% !important;
      }
}

.margin {
  margin-left: 20px;
}

.line {
  height:2px;
  background-color:rgb(206,206,206);
  width:100%;
}


/*Back to Top Arrow*/
.arrow-up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 0, 0, 0.412);
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  font-size: 3.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-weight:normal;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  }
  &:hover {
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  }
}
